*, html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.fContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: white;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 15px;
    width: 100%;
    height: 50px;
    background-color: #0c3b2e;
    border-radius: 5px;
}

.brand {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    padding: 15px;
}

.firstname {
    color: #ffba00;
    font-weight: 700;
}

.lastname {
    color: white;
    font-weight: 400;
    padding-left: 4px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation li {
    list-style-type: none;
    padding: 15px;
}

.navigation li a {
    color: white;
    text-decoration: none;
}
.navigation li a:hover {
    color: #ffba00;
    transition: all 0.3s ease-in-out;
}

.active {
    background-color: #ffba00;
    color: white;
    padding: 15px;
    border-radius: 10px;
}

.active:hover {
    color: white !important;
}